* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background: #333;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.toolbar {
	background-color: rgb(28, 28, 28);
	width: 900px;
	border-radius: 3px;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn, input{
	height: 35px;
	padding: 0 1em;
}

.btnIcon {
	width: 70px;
	height: 70px;
	background: #EFEEE7
}

.icon {
	width: 45px;
	height: 45px;
}

.color {
	padding: 0 .25em;
	width: 100px;
	margin: 0 1em;
}

.cnvDiv {
	position: relative;
	width: 900px;
	height: 900px;
	outline: 1px solid #aaa;
}

.cnv {
	width: 900px;
	height: 900px;

}

@media only screen and (max-width: 390px) and (orientation:portrait) {
	.toolbar {
		width: 385;
	}

	.btnIcon {
		width: 53px;
		height: 53px;
	}
	
	.icon {
		width: 40px;
		height: 40px;
	}

	.cnvDiv {
		position: relative;
		width: 385px;
		height: 385px;
		outline: 1px solid #aaa;
	}

	.cnv {
		width: 385px;
		height: 385px;
	}
}
