<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='stylish.css')}}">
        <title>Level Editor</title>
    </head>
    <body>
        <!-- navbar -->
        <div class="top">
            <div class="title-bar">
                <div class="title-fill">
                    <div class="title" style="color:#79B5DD;">Level:</div>
                    <div class="title" id="file" style="padding-left:5px;">file.lvl</div>
                </div>
                <div class="title-fill">
                    <button class="bar-item">SAVE</button>
                    <button class="bar-item">OPEN</button>
                    <button class="bar-item">CLEAR</button>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="container" id="map" style="height:80%;">
            <div>test</div>
        </div>
        <!-- Tools -->
        <div class="top">
            <div class="bar">
                <button class="bar-item">INC</button>
                <button class="bar-item">DEC</button>
            </div>
        </div>
        <div>
        </div>
    </body>
</html>
