<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='stylish.css')}}">
        <title>Map Editor</title>
    </head>
    <body>
        <!-- navbar -->
        <div class="top">
            <div class="title-bar">
                <div class="title-fill" style="width: 60%;">
                    <div class="title" style="color:#79B5DD;">Tile:</div>
                    <div type="text" class="title" id="tile" style="padding-left:5px; width: 100%;"></div>
                </div>
                <div class="title-fill" style="width:40%">
                    <button class="bar-item" id='view' disabled="true" onclick="bar_view()">VIEW</button>
                    <button class="bar-item" id='open' disabled="true" onclick="bar_open()">OPEN</button>
                    <button class="bar-item" onclick="bar_export()">EXPORT</button>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="container">
            <div class="container-tiles" id="map">
            </div>
        </div>
        <!-- Popup -->
        <div class="modal" id="modal">
            <div class="title-fill" style="width:100%; height:30px;">
                <div class="title" id="modal-title" style="width:80%;padding-left:10px;">Tile</div>
                <button class="bar-item" onclick="modal_close()">CLOSE</button>
            </div>
            <div style="display:flex; flex-direction: row; padding-left:20px;">
                <div class="tile" id="view-tile" style="width: 100px; height: 100px;"></div>
                <div style="display:flex; flex-direction:column; width: 80%; margin-left: 10%;">
                    <div style="display: flex; flex-direction: row;">
                        <div class="title">Id:</div>
                        <div class="title" id="view-id"></div>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div class="title">Name:</div>
                        <input type="text" class="title" id="view-name" style="padding-left:5px; width: 100%;" onchange="view_modal_name(this.value)"></input>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div class="title">Group:</div>
                        <input type="text" class="title" id="view-group" style="padding-left:5px; width: 100%;" onchange="view_modal_group(this.value)"></input>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div class="title">Column:</div>
                        <input type="text" class="title" id="view-location-x" style="padding-left:5px; width: 100%;" onchange="view_modal_location_col(this.value)"></input>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div class="title">Row:</div>
                        <input type="text" class="title" id="view-location-y" style="padding-left:5px; width: 100%;" onchange="view_modal_location_row(this.value)"></input>
                    </div>
                    <div class="title-fill" style="width:100%; height:30px;">
                        <button class="bar-item" onclick="view_modal_open()">OPEN</button>
                        <button class="bar-item" onclick="view_modal_save()">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var tileset = JSON.parse('{{ tiles | tojson | safe }}')
        </script>
        <script type="module" src="{{url_for('static',filename='mapEditor_Init.js')}}"></script>
    </body>
</html>
