<!DOCTYPE html>
<html lang="en-ca">
	<head>
        <meta charset="utf-8">
		<title>PyxlEd</title>
		<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
    <body>
        <div class="toolbar">
			<button class="btnIcon" id="file">
				<img class="icon" src="{{url_for('static',filename='folder.svg')}}" />
			</button>
			<button class="btnIcon" id="paint">
				<img class="icon" src="{{url_for('static',filename='brush.svg')}}" />
			</button>
			<button class="btnIcon" id="eraser">
				<img class="icon" src="{{url_for('static',filename='eraser.svg')}}" />
			</button>
			<button class="btnIcon" id="bucket">
				<img class="icon" src="{{url_for('static',filename='paint-bucket.svg')}}" />
			</button>
			<button class="btnIcon" id="palette">
				<img class="icon" src="{{url_for('static',filename='palette.svg')}}" />
			</button>
			<button class="btnIcon" id="undo">
				<img class="icon" src="{{url_for('static',filename='arrow-counterclockwise.svg')}}" />
			</button>
			<button class="btnIcon" id="redo">
				<img class="icon" src="{{url_for('static',filename='arrow-clockwise.svg')}}" />
			</button>
        </div>
		<div class="cnvDiv">
			<canvas class="cnv" id="cnv"></canvas>
		</div>
		<div style="display: flex; flex-grow:2">
     		<input type="text", id="filename" name="filename">
			<label for="filename">Filename</label>
        	<input type="color", id="color" class="color" value="#e66465">
			<button class="btn">Reset</button>
     		<input type="text", id="imgSize" name="imgSize">
			<label for="imgSize">Image Size</label>
		</div>
		<script type="module" src="{{url_for('static',filename='init.js')}}"></script>
    </body>
</html>
